# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git\rds-sqlserver-doc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
